* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 20px;
  background-color: white;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* : Mobile view:1 column */
.column {
  padding: 15px;
  flex: 1 0 100%;
}

.box {
  background-color: #d3d3d3; /* light gray */
  border: 1px solid #000;
  padding: 20px;
  position: relative;
  border-radius: 8px;
}

.title {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  border-bottom-left-radius: 8px;
}

/* title colors */
.chicken {
  background-color: #f28c8c; /* light red */
}

.beef {
  background-color: #d9534f; /* red */
}

.sushi {
  background-color: #f0ad4e; /* yellow */
}

/* Tablet view (768px–991px): 2 columns */
@media (min-width: 768px) and (max-width: 991px) {
  .column {
    flex: 1 0 50%;
  }
}

/* Desktop view (≥992px): 3 columns */
@media (min-width: 992px) {
  .column {
    flex: 1 0 33.33%;
}
